.carousel-control-prev-icon{
    background-color: black;
}
.carousel-control-next-icon{
    background-color: black;
}
img[class^='phone']{
    object-fit: contain;
    width: 100%;
}
button[class^='carousel-control']{
    width: 30%;
    
}
#Telefonos{
    width: 50%;
}
.main{
    display: inline-flex;
    width: 100%;
}
.rec{
    width: 50%;
}


.tel1,.tel2{
    display: inline-flex;
    width: 100%;
}
div[class^='tel']{
    display: inline-flex;
    width: 100%;
}
.titulo{
    width: 10%;
}


.card img{
   width: 100%;
   max-height: 300px;
  
}
.card-img-top{
    object-fit: contain;
    max-height: 700px;
    
}
.card{
    margin:2% 0%
}
.carousel-inner{
    max-height:750px
}
.sugerencias h3{
text-align: center;

}
.sugerencias{
    margin-left: 1%;
}



.btn {
    margin-right: 0.5rem !important
}

.btn {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    padding: .7rem 1.5rem;
    border-radius: 0.1275rem
}

.container {
    margin-top: 100px
}

.toast {
    transition: 0.32s all ease-in-out
}

.toast-container--fade {
    right: 0;
    bottom: 0
}

.toast-container--fade .toast-wrapper {
    display: inline-block
}

.toast.fade-init {
    opacity: 0
}

.toast.fade-show {
    opacity: 1
}

.toast.fade-hide {
    opacity: 0
}

body{
    background-color: lightcyan;
}
.redes img{
    width: 10%;
    margin-right: 5%;
}
.slide{
    margin-left: 1%;
}
.list-group-item{
    background-color: lightgoldenrodyellow;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo h2{
    text-decoration: dotted;
    text-decoration-color: #06d6a0;
    text-decoration-line: underline;
    
}